body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2 !important;
}

.App {
  margin-bottom: 5rem;
}

.App-menu {
    margin: 0 !important;
    background-color: #3498db;
    padding: 1.6rem;
    box-shadow: 0 3px 0 0 #1c8bc3 !important;
}

.App-logo-text {
    font-weight: 700;
    color: white;
    font-size: 2.3rem;
    padding-left: 18rem;
}

.App-logo-text:hover {
    color: #333;
}

.mainScreen {
  margin-top: 3rem;
}

.mainScreen-buttons {
  margin-bottom: 1rem;
}

.patient {
  margin-top: 3rem;
}

.register-form div {
  margin-bottom: 2rem !important;
}

.register-form button {
  margin-bottom: 10rem !important;
}

.patient-dashboard {
  margin-top: 3rem;
}

.upload-records {
  margin-top: 1.5rem !important;
}

.upload-records-box {
  border: 1px solid lightgray;
  margin-bottom: 2rem;
}

.show-address-button {
  margin-left: 1rem !important;
}

.shared-records {
  margin-bottom: 10rem !important;
}

.right-aligned {
  float: right;
  margin-right: 19rem;
}

.top-bar-link {
  font-size: 1.2rem;
}

.top-bar-link a {
  color: white !important;
}

.dashboard-welcome {
  margin-bottom: 3rem;
}

.dashboard-main {
  margin-top: 3rem;
}

.send-request-button {
  margin-left: 1rem!important;
}
